@model MvcRugby.Models.Player

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Player</h1>

<h3>Are you sure you want to delete this Player?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>  
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>  
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
    </dl>
</div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlayerId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class ="btn btn-secondary reset-btn" asp-action="Index">Back to List</a>
    </form>
</div>
