@model IEnumerable<MvcRugby.Models.Player>

@{
  ViewData["Title"] = "Index";
}

<h1>Players</h1>
<br>

<div class="container">
  <hr />
    <div class="p-3 mb-2 bg-dark text-white">
      <a asp-action="Create" class="btn btn-primary">Add New Player</a>
    </div>
</div>
<hr>

@if (Model != null && Model.Any())
{
  <table class="table">
    <thread>
      <tr>
        <th scope="col">Player Id</th>
        <th scope="col">Team Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Nationality</th>
        <th></th>
      </tr>
    </thread>
    <body>
      @foreach (var player in Model)
      {
        <tr>
          <td>@player.PlayerId</td>
          <td>@player.TeamId</td>
          <td>@player.FirstName</td>
          <td>@player.LastName</td>
          <td>@player.DateOfBirth</td>
          <td>@player.Nationality</td>
          <td>
            <a class="btn btn-primary" asp-controller="Player" asp-action="Create" asp-route-id="@player.PlayerId">Select Player</a>
            <a class="btn btn-warning" asp-controller="Player" asp-action="Edit" asp-route-id="@player.PlayerId">Edit</a>
            <a class="btn btn-danger" asp-controller="Player" asp-action="Delete" asp-route-id="@player.PlayerId">Delete</a>
          </td>
        </tr>
      }
    </body>
  </table>
}
else
{
  <p>No players found</p>
}