@model MvcRugby.Models.Season

@{
    ViewData["Title"] = "Details";
}

<h1>Season Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition_Name)
        </dt>       
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition_Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_Date)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SportRadar_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SportRadar_Id)
        </dd> 
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class ="btn btn-secondary reset-btn" asp-action="Index">Back to List</a>
</div>
