@model MvcRugby.Models.Fixture
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Competition Fixture</h1>

<h3>Are you sure you want to delete this Fixture?</h3>
<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrSportEventId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoundNumber)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeScore)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayScore)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionId)
        </dt>
    </dl>
</div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FixtureId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class ="btn btn-secondary reset-btn" asp-route-competitionId="@Model.CompetitionId" asp-action="Index">Back to fixtures</a>
    </form>
</div>
