@model IEnumerable<MvcRugby.Models.Fixture>

@{
  ViewData["Title"] = "Index";
}
<h1>[Competition Name] Fixtures</h1>

<br>

<div class="container">
  <hr />
    <div class="p-3 mb-2 bg-dark text-white">
      <h4>Admin Tools</h4>
      <br>
      <a class="btn btn-primary" asp-action="Create" asp-route-id="" >Add New [Competition Name] Fixture</a>
    </div>
  <hr />
</div>

@if (Model != null && Model.Any())
{
  <table class="table">
    <thread>
      <tr>
        <th scope="col">Fixture Id</th>
        <th scope="col">Sportradar Sport Event Id</th>
        <th scope="col">Round Number</th>
        <th scope="col">Start Time</th>
        <th scope="col">Status</th>
        <th scope="col">Home Score</th>
        <th scope="col">Away Score</th>
        <th scope="col">Competition Id</th>
      </tr>
    </thread>
    <tbody>
        @foreach(var fixture in Model)
        {
          <tr>
            <td>@fixture.FixtureId</td>
            <td>@fixture.SrSportEventId</td>
            <td>@fixture.RoundNumber</td>
            <td>@fixture.StartTime</td>
            <td>@fixture.Status</td>
            <td>@fixture.HomeScore</td>
            <td>@fixture.AwayScore</td>
            <td>@fixture.CompetitionId</td>
            <td>
              <a class="btn btn-primary" asp-action="Index"  asp-route-id="@fixture.FixtureId" asp-controller="CompetitionRound">Select</a>
              <a class="btn btn-success" asp-action="Details" asp-route-id="@fixture.FixtureId">View Details</a>
              <a class="btn btn-warning" asp-action="Edit" asp-route-id="@fixture.FixtureId">Edit</a>
              <a class="btn btn-danger" asp-action="Delete" asp-route-id="@fixture.FixtureId">Delete</a>
            </td>
          </tr>
        }
    </tbody>
  </table>
}
else
{
  <p>No Fixtures found for this competition</p>
}