@model MvcRugby.Models.PlayerStatistics
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Competition Fixture</h1>

<h3>Are you sure you want to delete this Fixture?</h3>
<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TryAssists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conversions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyGoals)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropGoals)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetersRun)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carries)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passes)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offloads)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleanBreaks)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineoutsWon)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineoutsLost)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tackles)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TacklesMissed)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScrumsWon)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScrumsLost)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalScrums)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TurnoversWon)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltiesConceded)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YellowCards )
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedCards )
        </dt>
    </dl>
</div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlayerStatisticsId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class ="btn btn-secondary reset-btn" asp-action="Index">Back to List</a>
    </form>
</div>
