@model MvcRugby.ViewModels.PlayerStatisticsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.CompetitionName</h1>
<hr>
<h3>Fixture date & start time: @Model.FixtureStartTime </h3>
<br>
<h4>Fixture Performance Statistics for: @Model.PlayerFirstName @Model.PlayerLastName</h4>
<br>
<a class ="btn btn-secondary reset-btn" asp-controller="TeamLineup" asp-action="Index" asp-route-competitionId="@Model.CompetitionId" asp-route-fixtureId="@Model.FixtureId">Back to fixture lineup</a>
<hr>

@if (Model.PlayerStatistics != null)
{
  <div class="Container">
    <div class="Row">
      <div class="col-3"></div>
        <div class="col-6">
          <table class="table table-bordered table-striped table-sm table-hover table-responsive">
            <thread class="thead-dark">
              <tr>
                <th scope="col">Statistics</th>
                <th scope="col" class="text-center">Quantity</th>
              </tr>
            </thread>
            <tbody>
                <tr>
                  <th scope="col">Tries</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.Tries</td>
                </tr>
                <tr>
                  <th scope="col">Try Assists</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.TryAssists</td>
                </tr>
                <tr>
                  <th scope="col">Conversions</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.Conversions</td>
                </tr>
                <tr>
                  <th scope="col">Penalty Goals</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.PenaltyGoals</td>
                </tr>
                <tr>
                  <th scope="col">Drop Goals</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.DropGoals</td>
                </tr>
                <tr>
                  <th scope="col">Meters Run</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.MetersRun</td>
                </tr>
                <tr>
                  <th scope="col">Carries</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.Carries</td>
                </tr>
                <tr>
                  <th scope="col">Passes</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.Passes</td>
                </tr>
                <tr>
                  <th scope="col">Offloads</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.Offloads</td>
                </tr>
                <tr>
                  <th scope="col">Clean Breaks</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.CleanBreaks</td>
                </tr>
                <tr>
                  <th scope="col">Lineouts Won</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.LineoutsWon</td>
                </tr>
                <tr>
                  <th scope="col">Lineouts Lost</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.LineoutsLost</td>
                </tr>
                <tr>
                  <th scope="col">Tackles</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.Tackles</td>
                </tr>
                <tr>
                  <th scope="col">Tackles Missed</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.TacklesMissed</td>
                </tr>
                <tr>
                  <th scope="col">Scrums Won</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.ScrumsWon</td>
                </tr>
                <tr>
                  <th scope="col">Scrums Lost</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.ScrumsLost</td>
                </tr>
                <tr>
                  <th scope="col">Total Scrums</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.TotalScrums</td>
                </tr>
                <tr>
                  <th scope="col">Turnovers Won</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.TurnoversWon</td>
                </tr>
                <tr>
                  <th scope="col">Penalties Conceded</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.PenaltiesConceded</td>
                </tr>
                <tr>
                  <th scope="col">Yellow Cards</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.YellowCards</td>
                </tr>
                <tr>
                  <th scope="col">Red Cards</th>
                  <td scope="col" class="text-center">@Model.PlayerStatistics.RedCards</td>
                </tr>
            </tbody>
          </table>
        </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="container">
    <hr />
      <div class="p-3 mb-2 bg-dark text-white">
        <h4>Admin Tools</h4>
        <br>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.PlayerStatistics.PlayerStatisticsId">Edit</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.PlayerStatistics.PlayerStatisticsId">Delete</a>
      </div>
    <hr />
  </div>
}
else
{
  <h4>@Model.Placeholder</h4>
  <hr>
  <a class ="btn btn-secondary reset-btn" asp-controller="TeamLineup" asp-action="Index" asp-route-competitionId="@Model.CompetitionId" asp-route-fixtureId="@Model.FixtureId">Back to fixture lineup</a>

  <div class="container">
    <hr />
      <div class="p-3 mb-2 bg-dark text-white">
        <h4>Admin Tools</h4>
        <br>
        <h4>Follow the below link to add a record of player statistics for this fixture</h4>
        <a class="btn btn-primary" asp-action="Create" asp-route-id="@Model.PlayerStatistics.PlayerStatisticsId" asp-controller="PlayerStatistics">Create</a>
      </div>
    <hr />
  </div>
}