@model IEnumerable<MvcRugby.Models.PlayerStatistics>

@{
    ViewData["Title"] = "Index";
}
<h1>Competition Player Fixture Statistics</h1>
<br>

<div class="container">
  <hr />
    <div class="p-3 mb-2 bg-dark text-white">
      <h4>Admin Tools</h4>
      <br>
      <a asp-action="Create" class="btn btn-primary">Add New Players Fixture Statistics</a>
    </div>
  <hr />
</div>

@if (Model != null && Model.Any())
{
  <table class="table">
    <thread>
      <tr>
        <th scope="col">SportRadar Id</th>
        <th scope="col">Tries</th>
        <th scope="col">Try Assists</th>
        <th scope="col">Conversions</th>
        <th scope="col">Penalty Goals</th>
        <th scope="col">Drop Goals</th>
        <th scope="col">Ball Possessition</th>
        <th scope="col">Meters Run</th>
        <th scope="col">Carries</th>
        <th scope="col">Passes</th>
        <th scope="col">Offloads</th>
        <th scope="col">Clean Breaks</th>
        <th scope="col">Lineouts Won</th>
        <th scope="col">Lineouts Lost</th>
        <th scope="col">Tackles</th>
        <th scope="col">Tackles Missed</th>
        <th scope="col">Scrums Won</th>
        <th scope="col">Scrums Lost</th>
        <th scope="col">Total Scrums</th>
        <th scope="col">Turnovers Won</th>
        <th scope="col">Penalties Conceded</th>
        <th scope="col">Yellow Cards</th>
        <th scope="col">Red Cards</th>
        <th scope="col"></th>
      </tr>
    </thread>
    <tbody>
        @foreach(var StatSet in Model)
        {
          <tr>
            <td>@StatSet.Tries</td>
            <td>@StatSet.TryAssists</td>
            <td>@StatSet.Conversions</td>
            <td>@StatSet.PenaltyGoals</td>
            <td>@StatSet.DropGoals</td>
            <td>@StatSet.MetersRun</td>
            <td>@StatSet.Carries</td>
            <td>@StatSet.Passes</td>
            <td>@StatSet.Offloads</td>
            <td>@StatSet.CleanBreaks</td>
            <td>@StatSet.LineoutsWon</td>
            <td>@StatSet.LineoutsLost</td>
            <td>@StatSet.Tackles</td>
            <td>@StatSet.TacklesMissed</td>
            <td>@StatSet.ScrumsWon</td>
            <td>@StatSet.ScrumsLost</td>
            <td>@StatSet.TotalScrums</td>
            <td>@StatSet.TurnoversWon</td>
            <td>@StatSet.PenaltiesConceded</td>
            <td>@StatSet.YellowCards</td>
            <td>@StatSet.RedCards</td>
            <td>
              <a class="btn btn-primary" asp-action="Index"  asp-route-id="@StatSet.PlayerStatisticsId" asp-controller="CompetitionRound">Select</a>
              <a class="btn btn-success" asp-action="Details" asp-route-id="@StatSet.PlayerStatisticsId">View Details</a>
              <a class="btn btn-warning" asp-action="Edit" asp-route-id="@StatSet.PlayerStatisticsId">Edit</a>
              <a class="btn btn-danger" asp-action="Delete" asp-route-id="@StatSet.PlayerStatisticsId">Delete</a>
            </td>
          </tr>
        }
    </tbody>
  </table>
}
else
{
  <p>No Fixtures found</p>
}