@model MvcRugby.Models.Competition

@{
    ViewData["Title"] = "Details";
}

<h1>Competition Details</h1>

<div>
    <h4>Competition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Competition_Name)
        </dt>       
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Competition_Name)
        </dd>
        <!-- -->
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>
        <!-- -->
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.End_Date)
        </dd>
        <!-- -->
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <!-- -->
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SportRadar_Competition_Id)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SportRadar_Competition_Id)
        </dd>
        <!-- -->
        <dt class = "col-sm-3">
            See all Competition Fixtures
        </dt>
        <dd class = "col-sm-9">
            <a class="btn btn-primary" asp-controller="Fixture" asp-action="Index" asp-route-id="@Model?.CompetitionId">Select</a>
        </dd>
        <!-- -->
        <dt class = "col-sm-3">
            See all Competition Clubs
        </dt>
        <dd class = "col-sm-9">
            <a class="btn btn-primary" asp-controller="Club" asp-action="Index" asp-route-id="@Model?.CompetitionId">Select</a>
        </dd>
        <!-- -->        
        <dt class = "col-sm-3">
            See all Competition Players
        </dt>
        <dd class = "col-sm-9">
            <a class="btn btn-primary" asp-controller="Player" asp-action="Index" asp-route-id="@Model?.CompetitionId">Select</a>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.CompetitionId">Edit</a>
    <a class ="btn btn-secondary reset-btn" asp-action="Index">Back to List</a>
</div>
