@model MvcRugby.Models.Competition

@{
    ViewData["Title"] = "Details";
}

<h1>Competition Details</h1>

<div>
    <h4>Competition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CompetitionName)
        </dt>       
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CompetitionName)
        </dd>
        <!-- -->
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <!-- -->
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <!-- -->
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <!-- -->
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SrCompetitionId)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SrCompetitionId)
        </dd>
        <!-- -->
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.CompetitionId">Edit</a>
    <a class ="btn btn-secondary reset-btn" asp-action="Index">Back to List</a>
</div>
