@model MvcRugby.Models.Club

@{
    ViewData["Title"] = "Details";
}

<h1>Club Details</h1>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubId)
        </dt>       
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubId)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SportRadar_Competitor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SportRadar_Competitor_Id)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club_Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Players)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Players)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.ClubId">Edit</a>
    <a class ="btn btn-secondary reset-btn" asp-action="Index">Back to List</a>
</div>
