@model IEnumerable<MvcRugby.Models.Club>

@{
    ViewData["Title"] = "Index";
}
<h1>Club</h1>
<br>

<div class="container">
  <hr />
    <div class="p-3 mb-2 bg-dark text-white">
      <h4>Admin Tools</h4>
      <br>
      <a asp-action="Create" class="btn btn-primary">Add New Club</a>
    </div>
  <hr />
</div>

@if (Model != null && Model.Any())
{
  <table class="table">
    <thread>
      <tr>
        <th scope="col">Club Id</th>
        <th scope="col">Sport Radar Competitor Id</th>
        <th scope="col">Club Name</th>
        <th scope="col">Competition Id</th>
        <th scope="col"></th>
      </tr>
    </thread>
    <tbody>
        @foreach(var club in Model)
        {
          <tr>
            <td>@club.ClubId</td>
            <td>@club.SportRadar_Competitor_Id</td>
            <td>@club.Club_Name</td>
            <td>@club.CompetitionId</td>
            <td>
              <a class="btn btn-primary" asp-action="Index"  asp-route-id="@club.ClubId" asp-controller="CompetitionRound">Select</a>
              <a class="btn btn-success" asp-action="Details" asp-route-id="@club.ClubId">View Details</a>
              <a class="btn btn-warning" asp-action="Edit" asp-route-id="@club.ClubId">Edit</a>
              <a class="btn btn-danger" asp-action="Delete" asp-route-id="@club.ClubId">Delete</a>
            </td>
          </tr>
        }
    </tbody>
  </table>
}
else
{
  <p>No Clubs found</p>
}