@model IEnumerable<MvcRugby.Models.FixtureStatistics>

@{
    ViewData["Title"] = "Index";
}
<h1>Competition Player Fixture Statistics</h1>
<br>

<div class="container">
  <hr />
    <div class="p-3 mb-2 bg-dark text-white">
      <h4>Admin Tools</h4>
      <br>
      <a asp-action="Create" class="btn btn-primary">Add New Players Fixture Statistics</a>
    </div>
  <hr />
</div>

@if (Model != null && Model.Any())
{
  <table class="table">
    <thread>
      <tr>
        <th scope="col">SportRadar Id</th>
        <th scope="col">Tries</th>
        <th scope="col">Try Assists</th>
        <th scope="col">Conversions</th>
        <th scope="col">Penalty Goals</th>
        <th scope="col">Drop Goals</th>
        <th scope="col">Ball Possessition</th>
        <th scope="col">Meters Run</th>
        <th scope="col">Carries</th>
        <th scope="col">Passes</th>
        <th scope="col">Offloads</th>
        <th scope="col">Clean Breaks</th>
        <th scope="col">Lineouts Won</th>
        <th scope="col">Lineouts Lost</th>
        <th scope="col">Tackles</th>
        <th scope="col">Tackles Missed</th>
        <th scope="col">Scrums Won</th>
        <th scope="col">Scrums Lost</th>
        <th scope="col">Total Scrums</th>
        <th scope="col">Turnovers Won</th>
        <th scope="col">Penalties Conceded</th>
        <th scope="col">Yellow Cards</th>
        <th scope="col">Red Cards</th>
        <th scope="col"></th>
      </tr>
    </thread>
    <tbody>
        @foreach(var StatSet in Model)
        {
          <tr>
            <td>@StatSet.SportRadar_Id</td>
            <td>@StatSet.Tries</td>
            <td>@StatSet.Try_Assists</td>
            <td>@StatSet.Conversions</td>
            <td>@StatSet.Penalty_Goals</td>
            <td>@StatSet.Drop_Goals</td>
            <td>@StatSet.Ball_Possessition</td>
            <td>@StatSet.Meters_Run</td>
            <td>@StatSet.Carries</td>
            <td>@StatSet.Passes</td>
            <td>@StatSet.Offloads</td>
            <td>@StatSet.Clean_Breaks</td>
            <td>@StatSet.Lineouts_Won</td>
            <td>@StatSet.Lineouts_Lost</td>
            <td>@StatSet.Tackles</td>
            <td>@StatSet.Tackles_Missed</td>
            <td>@StatSet.Scrums_Won</td>
            <td>@StatSet.Scrums_Lost</td>
            <td>@StatSet.Total_Scrums</td>
            <td>@StatSet.Turnovers_Won</td>
            <td>@StatSet.Penalties_Conceded</td>
            <td>@StatSet.Yellow_Cards</td>
            <td>@StatSet.Red_Cards</td>
            <td>
              <a class="btn btn-primary" asp-action="Index"  asp-route-id="@StatSet.Id" asp-controller="CompetitionRound">Select</a>
              <a class="btn btn-success" asp-action="Details" asp-route-id="@StatSet.Id">View Details</a>
              <a class="btn btn-warning" asp-action="Edit" asp-route-id="@StatSet.Id">Edit</a>
              <a class="btn btn-danger" asp-action="Delete" asp-route-id="@StatSet.Id">Delete</a>
            </td>
          </tr>
        }
    </tbody>
  </table>
}
else
{
  <p>No Fixtures found</p>
}