@model RoundsViewModel
@{
    ViewData["Title"] = "Competition Rounds";
}

<h1>Competition Rounds</h1>
<hr>

<p>Competition Id: @Model.CompetitionId</p>
<p>Competition: @Model.CompetitionName</p>
<hr>

@if (Model != null)
{
  <table class="table">
    <thread>
      <tr>
        <th scope="col">Round Number</th>
        <th scope="col">Status</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th></th>
      </tr>
    </thread>
    <tbody>
        @if (Model.Rounds != null) //Check to see if any rounds exist before continuing
        {
            @foreach(var fixture in Model.Rounds)
            {
            <tr>
                <td>@fixture.RoundNumber</td>
                <td>@fixture.Status</td>
                <td></td>
                <td></td>
                <td>
                <a class="btn btn-primary" asp-controller="Comparison" asp-action="RoundFixtures" asp-route-id="@fixture.RoundNumber">Select</a>
                </td>
            </tr>
            }
        }
        else
        {
            <h5>No rounds recorded for this competition yet</h5>
        }
    </tbody>
  </table>
}
else
{
  <p>No rounds found for this competition</p>
}