@model MvcRugby.ViewModels.ComparisonViewModel
@{
    ViewData["Title"] = "[Competition Name] Round Fixtures";
}

<!-- "{Competition Name}, Round: {Number}"  -->
<h1>@Model.CompetitionName - Round @Model.RoundNumber</h1>
<hr>

<!-- Back to previous page button - should have asp.action of id-->
<a class="btn btn-primary" asp-controller="Comparison" asp-action="Rounds" asp-route-id="@Model.CompetitionId" >Back to Competition Rounds</a>
<hr>

<table class="table table-dark table-bordered table-responsive">
    <!-- Table headers -->
    <thead>
        <tr>
            <!-- static left column header --> 
            <th scope="col">Team:</th>
            @foreach(var teamLineup in Model.Fixtures)
            {
                @* <th scope="col text-center">@teamLineup.</th>
                <th scope="col text-center text-middle">@team.AwayTeam</th> *@
            }
        </tr>
    </thead>
    <!-- table content -->
    <tbody>
        <!-- iterate over each team position -->
        @for (int i = 1; i <= 23; i++) //repeat 23 times for each position on a rugby team
        {
            <!-- Add row of data -->
            <tr>
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th>
                                Player:
                                <br>
                                Position: @i
                            </th>
                            @for (int j = 1; j <= 16; j++) //Repeat x16 for each team in the round
                            {
                                <td class="text-center">[Player Name]</td>
                            }
                            @foreach(var player in Model.Fixtures)
                            {
                                //<td></td>
                            }
                        </tr>
                        <tr>
                            <button id="ShowHideTableButton" onclick="ShowHideTable()">Show / hide</button>
                        </tr>
                        <div id="ComparisonTable">
                            <tr>
                                <td>Position: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    //<td></td>
                                }
                            </tr>
                            <tr>
                                <td>Carries: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    //<td></td>
                                }
                            </tr>
                            <tr>
                                <td>Clean Breaks: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    //<td></td>
                                }
                            </tr>
                            <tr>
                                <td>Conversions: </td>
                                @for (int j= 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    //<td></td>
                                }
                            </tr>
                            <tr>
                                <td>Drop Goals: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Lineouts won: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Meters run: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Offloads: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Passes: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Penalties Conceded: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>PenaltyGoals: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Red Cards: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Scrums Lost: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Scrums Won: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Total Scrums: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Tackle Missed: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Tackles: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Tries: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Try Assist: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Turnovers Won: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                            <tr>
                                <td>Yellow Cards: </td>
                                @for (int j = 1; j <= 16; j++)
                                {
                                    <td class="text-center">0</td>
                                }
                                @foreach(var player in Model.Fixtures)
                                {
                                    @* <td></td> *@
                                }
                            </tr>
                        </div>
                    </tbody>
                </table>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/site.js"> </script>
}