@model MvcRugby.Mappings.SeasonInfo

@* @using Microsoft.AspNetCore.Identity *@

@* @inject SignInManager<ApplicationUser> SignInManager *@

@{
  ViewData["Title"] = "Index";
}

<h1>Competitions</h1>

<!-- Create season -->
@if (User.IsInRole("Administrator"))
{
  <div class="container">
    <hr />
      <div class="p-3 mb-2 bg-dark text-white">
        <h5>[Administration Tools]</h5>
        <a asp-action="Create" class="btn btn-primary search-btn">Create New Competition</a>
      </div>
    <hr />
  </div>
}
<br>

<!-- Add SCompetition cards -->
@if (Model.seasons != null && Model.seasons.Any())
{
  <div class="container">
    <div class="row">
      @foreach (var season in Model.seasons)
      {
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            @* <img class="card-img-top" src="@Html.DisplayFor(modelItem => season.Image)" alt="@Html.DisplayNameFor(model => product.Image)" width="100%", height = "400px"> *@
            <div class="card-body">
              <h5 class="card-title">@season.name</h5> 

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">@season.start_date</li>
              <li class="list-group-item">@season.end_date</li>
              <li class="list-group-item">@season.year</li>

            </ul>
            <div class="card-body">
              <a class="btn btn-success float-right" asp-action="Details" asp-route-id="@season.Id">
                <i class="bi bi-eye-fill"></i> View Details
              </a>
            </div>

            @if (User.IsInRole("Administrator"))
            {
              <div class="p-3 mb-2 bg-dark text-white">
              <div class="card-body">
                <h5>[Administration Tools]</h5>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@season.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@season.Id">Delete</a>
              </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
}
else
{
  <p>No seasons / competitions found.</p>
}