<!-- This view lists all Rounds in a given Competition for user selection -->
@model MvcRugby.Models.RoundLineupViewModel
@{
    ViewData["Title"] = "Round Info";
}

<!-- "{Competition Name}, Round: {Number}"  -->
<h1>@Model.RoundDetails?.FirstOrDefault()?.CompetitionName - Round @Model.RoundDetails?.FirstOrDefault()?.RoundNumber</h1>
<br>
<!-- Back to previous page button - should have asp.action of season id-->
<a class="btn btn-secondary" asp-controller="SportRadar" asp-action="CompRounds" asp-route-id="@Model.RoundDetails?.FirstOrDefault()?.SeasonId">
    <i class="bi bi-eye-fill"></i> Back to Competition Rounds
</a>
<br>

<table class="table">
    <!-- Table headers -->
    <thead>
        <tr>
            <!-- static left column header -->
            <th scope="col">Position</th>
            <!-- Name each individual Team in the round -->
            @foreach (var team in Model.RoundDetails?.FirstOrDefault()?.Teams)
            {
                <th scope="col">@team.TeamName</th>
            }
        </tr>
    </thead>
    <!-- table content -->
    <tbody>
        <!-- iterate over each team position -->
        @for (int i = 1; i <= 23; i++)
        {
            <!-- Add row of data -->
            <tr>
                <!-- Add position number -->
                <td>
                    <div>Position Number: @i</div>
                    <div>Ball Possession: </div>
                    <div>Carries: </div>
                    <div>Clean Breaks: </div>
                    <div>Conversions: </div>
                    <div>Drop Goals: </div>
                    <div>Lineouts won: </div>
                    <div>Meters run: </div>
                    <div>Offloads: </div>
                    <div>Passes: </div>
                    <div>Penalties Conceded: </div>
                    <div>PenaltyGoals: </div>
                    <div>Red Cards: </div>
                    <div>Scrums Lost: </div>
                    <div>Scrums Won: </div>
                    <div>Tackle Missed: </div>
                    <div>Tackles: </div>
                    <div>Total Scrums: </div>
                    <div>Tries: </div>
                    <div>Try Assist: </div>
                    <div>Turnovers Won: </div>
                    <div>Yellow Cards: </div>  
                </td>
                <!-- iterate over every team returned in the JSON data, -->
                @foreach (var team in Model.RoundDetails?.FirstOrDefault()?.Teams)
                {
                    <!-- Individual cell -->
                    <td>
                        <!-- for each player in each team of the JSON data, with the player number == to i -->
                        @foreach (var player in team.Players.Where(p => p.PlayerNumber == i))
                        {
                            <!-- return that player name, against the correct jersey number -->
                            <div>@player.PlayerName</div>                        
                            
                            @* @foreach (var stat in Model.Players)
                            {
                                <td>@stat.BallPossession?</td>
                                <td>@stat.Carries?</td>
                                <td>@stat.CleanBreaks?</td>
                                <td>@stat.Conversions?</td>
                                <td>@stat.DropGoals?</td>
                                <td>@stat.LineoutsWon?</td>
                                <td>@stat.MetersRun?</td>
                                <td>@stat.Offloads?</td>
                                <td>@stat.Passes?</td>
                                <td>@stat.PenaltiesConceded?</td>
                                <td>@stat.PenaltyGoals?</td>
                                <td>@stat.RedCards?</td>
                                <td>@stat.ScrumsLost?</td>
                                <td>@stat.ScrumsWon?</td>
                                <td>@stat.TackleMissed?</td>
                                <td>@stat.Tackles?</td>
                                <td>@stat.TotalScrums?</td>
                                <td>@stat.Tries?</td>
                                <td>@stat.TryAssist?</td>
                                <td>@stat.TurnoversWon?</td>
                                <td>@stat.YellowCards?</td>
                            } *@
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>