<!-- 1. List all competitions -->
<!-- 2. List all competitions seasons -->
<!-- 3. List all games in a season for a given competition -->
<!-- 4. List all teams for a given round -->
<!-- 5. List all players in each team -->
<!-- 6. List all players stats -->

<!--  -->

<!-- Season Lineup - Display all games in the season -->
@model MvcRugby.Mappings.SeasonLineups
@{
    ViewData["Title"] = "Competition Rounds";
}

<!-- "{Competition Name} Rounds"  -->
<!-- "United Rugby Championship Rounds"  -->
<h1>Rounds for: @Model.lineups?.FirstOrDefault()?.sport_event?.sport_event_context?.groups?.FirstOrDefault()?.name</h1>
<br>

<a class="btn btn-secondary" asp-controller="SportRadar" asp-action="Season">
    <i class="bi bi-eye-fill"></i> Back to Competitions
</a>
<br>

@if (Model != null && Model.lineups != null && Model.lineups.Any())
{
    <!-- Get all rounds in the competition -->
    @foreach (var round in Model.lineups.Select(item => item.sport_event?.sport_event_context?.round?.number).Distinct())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Round</th> <!-- Round Number -->
                    <th scope="col"> Status</th> <!-- Status: i.e. Not started, Running or Completed -->
                    <th scope="col"> Date Started</th> <!--  Date the round starts / started -->
                    <th scope="col"> Date Ended</th> <!--   Date the round ends / ended -->
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <!-- For each round, show the upcoming / completed games -->
                @foreach (var item in Model.lineups.Where(x => x.sport_event?.sport_event_context?.round?.number == round))
                {
                    <tr>
                        @if(round == null)
                        {
                            <td scope="row"> Nr. Unavailable</td>  <!-- Round Number -->
                        }
                        else
                        {
                            <th scope="row">@round</th>  <!-- Round Number -->
                        }
                        <td>@item.sport_event_status?.status</td> <!-- Status: i.e. Not started, Running or Completed -->
                        <td>@item.sport_event?.start_time</td> <!--  Date the round starts / started -->
                        <td>@(item.sport_event?.start_time_confirmed == true ? "Yes" : "No")</td> <!--   Date the round ends / ended -->
                        <td>
                            <a class="btn btn-primary">
                                <i class="bi bi-eye-fill"></i> Select Round
                            </a>
                        </td>
                        <!-- Add more details as needed -->
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>No season lineups available</p>
}